/* to be included in all pages */

a { text-decoration: none; }
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }

#header {
   padding-left: 50px;
   padding-top: 20px;
   font-family: 'Libre Barcode 128 Text', cursive;
   font-size: 6rem;
}

#header-image {
   position: absolute;
   right: 30px;
   top: 5px;
}

                                 /* NAV BAR */
.nav{
   padding-top: 30px;
   padding-left: 10px;
	/*text-decoration: none;*/
	/*color: black;*/
}
.nav ul a{
   font-family: monospace;
   font-weight: bold;
   font-style: italic;
	text-decoration: none;
	color: black;
   position: relative;
   padding-left:10px;
   padding-right:10px;
   outline-style: dotted;
   padding-top: 20px;
   padding-bottom:20px;
   display:inline-block;
}

#bio {
   padding-top: 10px;
   padding-left: 10px;
   font-family: monospace;
   font-style: italic;
   font-weight: bold;
   font-size: 30px;
   color: black;
   text-decoration: none;
}

#utopia-piece {
   position: absolute;
   left: 300px;
   top: 144px;
   font-family: monospace;
   font-weight: 500;
   font-size: 13px;
   line-height: normal;
}

#broadcaster-piece {
   position: absolute;
   left:300px;
   top:144px;
   right: 150px;
   font-family: monospace;
   font-weight: 500;
   font-size: 13px;
   line-height: normal;
}

#pb-video {
   position: absolute;
   right: 200px;
   top:144px;
}
.nav ul a:hover{
	color:red;
}

#bio-content {

   position: absolute;
   left:500px;
   top:144px;
   font-family: monospace;
   font-weight: 500;
   font-size: 13px;
   line-height: normal;
}

#bio-image {
   position: absolute;
   left:250px;
   top:170px;
}

#satellite-video {
   position: absolute;
   left:250px;
   top:144px;

}
